* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  font-size: 16px;
  padding: 20px 0 47px 7px;
}

header a {
  text-decoration: none;
  margin-right: 16px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 53px 0 10px 0;
}

h2 {
  font-size: 12px;
  font-weight: 700;
}

.info {
  padding: 0 0 22px 7px;
}

.info p {
  font-size: 12px;
}

main p {
  font-size: 16px;
}

main a {
  font-size: 12px;
}

.main-text {
  padding: 54px 77px 56px 0;
  line-height: 26px;
}

.link-back {
  text-align: center;
  padding: 28px 0 16px;
  line-height: 12px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0 36px 7px;
}

footer p {
  font-size: 12px;
}

footer strong {
  font-weight: 700;
}

.sources {
  font-size: 10px;
  margin-top: 22px;
}
